body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;

}

header {
  height: 100vh;
  width: 100vw;
  background-image: url("bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

nav {
  height: 70px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  position: absolute;
  top: 0;
}

ul {
  display: flex;
  list-style: none;
  z-index: 20;
}

a {
  color: white;
  padding-left: 20px;
  z-index: 20;
  text-decoration: none;
}

li :hover {
  color: purple;
}

h1 {
  color: white;
  z-index: 20;
}

p {
  color: white;
  z-index: 20;
}

.menu {
  font-size: 25px;
  padding-right: 8px;
  color: white;
}

.overlay_div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.600);
  z-index: 10;
}

.menu {
  display: none
}

@media  (max-width: 768px) {
  ul {
    display: none;
  }

 .menu {
    display: block
  }
 
}



/*Desktop 1200 px*/
/*Tablet 768 px*/
/*Mobile 425 px*/
